ASSIGNMENT 16

Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

Ans1:

In [1]:
year_list = list(i for i in range(1980,1986))
print(year_list)

[1980, 1981, 1982, 1983, 1984, 1985]

Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

Ans2:

4th year

Q3. In the years list, which year were you the oldest?

Ans3:

last element of the year_list will be the oldest

Q4. Make a list called things with these three strings as elements: 
    "mozzarella", "cinderella", "salmonella".

Ans4:

In [2]:
things = ["mozzarella", "cinderella", "salmonella"]

Q5. Capitalize the element in things that refers to a person and then print the list. 
Did it change the element in the list?

Ans5:

In [6]:
cap_things = list(i.capitalize() for i in things)
print(cap_things)

['Mozzarella', 'Cinderella', 'Salmonella']

Q6. Make a surprise list with the elements "Groucho","Chico" and "Harpo".

Ans6:

In [18]:
surprise_list = ["Groucho", "Chico","Harpo"]

Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

Ans7:

In [17]:
a = surprise_list[2][::-1].capitalize()
print(a)

Oprah

Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: 
dog is chien, cat is chat, and walrus is morse.

Ans8:

In [1]:
eng_fren = {"dog":"chien", "cat":"chat", "walrus":"morse"}

Q9. Write the French word for walrus in your three-word dictionary e2f.

Ans9:

In [10]:
eng_fren["walrus"]

'morse'

Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

Ans10:

In [16]:
fren_eng = {value:key for key,value in eng_fren.items()}
print(fren_eng)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Q11. Print the English version of the French word chien using f2e.

Ans11:

In [19]:
fren_eng["chien"]

'dog'

Q12. Make and print a set of English words from the keys in e2f.

Ans12:

In [2]:
set1 = {i for i in eng_fren.keys()}
print(set1)

{'dog', 'cat', 'walrus'}

Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys:
    "animals","plants" and "other". Make the "animals" key refer to another dictionary with the keys 
    "cats","octopi" and "emus". Make the "cats" key refer to a list of strings with the values 
    "Henri","Grumpy" and "Lucy". Make all the other keys refer to empty dictionaries.

Ans13:

In [24]:
life = {"animals":{"cats":["Henri","Grumpy","Lucy"],"octopi":{},"emus":{}},"plants":{},"others":{}}

Q14. Print the top-level keys of life.

Ans14:

In [25]:
for i in life.keys():
    print(i)

animals
plants
others

Q15. Print the keys for life['animals'].

Ans15:

In [26]:
for i in life["animals"].keys():
    print(i)

cats
octopi
emus

Q16. Print the values for life['animals']['cats']

Ans16:

In [29]:
for i in life["animals"]["cats"]:
    print(i)

Henri
Grumpy
Lucy