ASSIGNMENT 1:

Ans1:

Operators:- *,-,/,+
Valus:- 'hello'(str),-87.8(float),6(int)

Ans2:

Variable is name that refers the values. It stores the information.
String is usually word or text enclosed with "". It is type of data stored in variable.

In [ ]:
An3:

3 Datatype:
integer: it is number(whole, natural n negative)
float: it's number but with decimal
boolean: if statement is True else False

Ans4:

Expression is combination of variables, operators and calls to function. 
It evaluates and display the result.

Ans5:

Expression produces he values. It includes variables, operators and call functions
Statement performs an action. It includes variable assignment, loops and conditions

Ans6:

In [7]:
bacon=22
bacon+1

23

Ans7:

In [11]:
'spam' + 'spamspam' #it will join two strings

'spamspamspam'

In [15]:
'spam'*3 # it will print the string thrice

'spamspamspam'

Ans8:

Egg is a word which is variable name whereas 100 is integer

Ans9:

int()
float()
str()

Ans10:

In [22]:
'I have eaten ' + '99 ' + 'burritos' # error caused 99 integer can't operate with string, we fix it by making 99 a string

'I have eaten 99 burritos'