ASSIGNMENT 20

Q1. Set the variable test1 to the string 'This is a test of the emergency text system', 
and save test1 to a file named test.txt.

Ans1:

In [4]:
test1 = 'This is a test of the emergency text system,'
file1 = open('test.txt','w')
file1.write(test1)

44

Q2. Read the contents of the file test.txt into the variable test2. 
Is there a difference between test 1 and test 2?

Ans2:

In [5]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

No, both are same

Q3. Create a CSV file called books.csv by using these lines:
title,author,year
-The Weirdstone of Brisingamen,Alan Garner,1960
-Perdido Street Station,China Miéville,2000
-Thud!,Terry Pratchett,2005
-The Spellman Files,Lisa Lutz,2007
-Small Gods,Terry Pratchett,1992

Ans3:

In [7]:
import csv

details =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(details)

Q4. Use the sqlite3 module to create a SQLite database called books.db, and 
a table called books with these fields: title (text), author (text), and year (integer).

Ans4:

In [8]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20), author varchar(20), year int)')
conn.commit()

Q5. Read books.csv and insert its data into the book table.

Ans5:

In [9]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

Q6. Select and print the title column from the book table in alphabetical order.

Ans6:

In [10]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

Q7. From the book table, select and print all columns in the order of publication.

Ans7:

In [12]:
c.execute('select title, author,year from books order by year')

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

Ans8:

import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
infos = engine.execute('select * from books')
for i in infos:
    print(i)

Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). 
Print all the fields for test.

Ans9:

pip install redis  #for installing

#creating Redis hash 
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

Q10. Increment the count field of test and print it.

Ans10:

#conn.hincrby('test','count', 3)