PROGRAM ASSIGNMENT 20

Q1. Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only. Examples
filter_list([1, 2, 3,'a','b', 4]) ➞ [1, 2, 3, 4]
filter_list(['A', 0, 'Edabit', 1729, 'Python','1729']) ➞ [0, 1729]
filter_list(['Nothing','here']) ➞ []

Ans1:

In [1]:
def filt_list(x):
    fil_lst = []
    for i in x:
        if type(i) == int:
            fil_lst.append(i)
    return fil_lst

list1 = ["A", 0, "Edabit", 1729, "Python", "1729"]
print(filt_list(list1))

[0, 1729]

Q2. Given a list of numbers, create a function which returns the list but with each element's
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

Ans2:

In [6]:
def ind_add(lst):
    ind_lst = []
    for i in range(len(lst)):
        ind_lst.append(i + lst[i])
    return ind_lst

lst1 = [0, 0, 0, 0, 0]
ind_add(lst1)

[0, 1, 2, 3, 4]

Q3. Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
Examples
cone_volume(3, 2) ➞ 12.57
cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

Ans3:

In [10]:
def vol_cone(x,y):
    volume = 3.14*(y**2)*(x/3)
    return volume
h,r = 3,2
print(f"The volume of cone having {h} in h, {r} in rad is :",vol_cone(h,r))

The volume of cone having 3 in h, 2 in rad is : 12.56

Q4. This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

Ans4:

In [11]:
def dot_tri(a):
    if a == 1:
        return a
    else:
        dt = a + dot_tri(a-1)
        return dt

dot_tri(6)

21

Q5. Create a function that takes a list of numbers between 1 and 10 (excluding one number) 
and returns the missing number. Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

Ans5:

In [13]:
def miss_num(x):
    num = 0
    for i in range(1,len(x)+1):
        if i not in x:
            num = i
    return num

miss_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7